#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 1000;
    background: #7386D5;
    color: $color-white;
    transition: margin 0.3s, width 0.3s;

    //custom scrollbar
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb:vertical {
        background-color: #666;
    }

    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }

    &::-webkit-scrollbar-corner {
        width: 40px;
    }

    &::-webkit-scrollbar-thumb:vertical {
        background-color: #666;
    }

    &.minified {
        width: $sidebar-minfied-width;
        text-align: center;
        position: static;
        height: 100%;
        overflow: visible;

        .sidebar-header {
            strong {
                display: block;
            }

            h3 {
                display: none;
            }
        }

        >ul {
            >li {
                position: relative;

                >a {
                    padding: 20px 10px;
                    justify-content: center;

                    >i {
                        margin-right: 0;
                        display: block;
                        font-size: 1.8em;
                        margin-bottom: 5px;

                        span {
                            display: none;
                        }

                        &.fa-caret-down {
                            display: none;
                        }
                    }
                }

                >ul.sub-menu {
                    display: none !important;

                    >li>a {
                        justify-content: start;
                        padding-left: 30px !important;
                        padding-right: 30px !important;
                    }

                }

                &:hover {
                    >ul.sub-menu {
                        display: inline-block !important;
                        position: absolute;
                        width: 200px;
                        // left: $sidebar-minfied-width;
                        padding-top: 3rem;
                        border: 10px transparent solid;
                        border-radius: 10px;
                        border-top: none;
                        box-sizing: content-box;
                        top: 14px;
                    }

                    >a>i span {
                        display: block;
                        font-size: 0.85em;
                        position: absolute;
                        z-index: 7;
                        background-color: #7386D5;
                        color: $color-white;
                        left: calc($sidebar-minfied-width + 10px);
                        width: 200px;
                        height: 3rem;
                        padding: 10px 25px 10px 25px;
                        text-align: left;
                        top: 14px;
                    }

                    &:after {
                        font-family: FontAwesome;
                        content: "\f0d9";
                        color: #7386D5;
                        position: absolute;
                        font-size: 1.5rem;
                        display: block;
                        position: absolute;
                        top: 20px;
                        left: calc($sidebar-minfied-width + 3px);
                    }
                }


            }
        }
    }

    .sidebar-header {
        strong {
            display: none;
            font-weight: bolder;
            font-size: 1.8em;
        }

        padding: 20px;
        background: #6d7fcc;
    }

    ul {
        &.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        ul.sub-menu {
            padding: 0;
            z-index: 1001;
            display: none;
            right: auto;
            width: $sidebar-full-width;

            a {
                font-size: 0.9em !important;
                padding-left: 50px !important;
                padding-right: 50px !important;
                background: #6d7fcc;
            }

            li {
                text-align: left;
                display: block;
            }
        }

        >li {
            >a {
                display: flex;
                align-items: baseline;
                padding: 10px;
                font-size: 1.1em;
                justify-content: space-between;

                >i {
                    display: flex;

                    >span {
                        padding: 0px 10px;
                    }
                }


                &:hover {
                    color: #7386D5;
                    background: $color-white;
                }

            }

            &.active>a {
                color: $color-white;
                background: #6d7fcc;
            }


        }
    }
}

[dir="ltr"] {
    #sidebar {
        left: 0;

        &.closed {
            margin-left: -$sidebar-full-width;
        }

        &.minified {
            ul.sub-menu {
                left: $sidebar-minfied-width;

            }
        }
    }
}

[dir="rtl"] {
    #sidebar {
        right: 0;

        &.closed {
            margin-right: -$sidebar-full-width;
        }

        &.minified {
            >ul.components>li:hover {
                >a>i>span {
                    right: calc($sidebar-minfied-width + 10px);
                    text-align: right;
                }

                &:after {
                    content: '\f0da';
                    right: calc($sidebar-minfied-width + 3px);
                }

            }

            ul.sub-menu {
                right: $sidebar-minfied-width;

            }
        }
    }
}