<nav id="sidebar" class="custom-scrollbar">
    <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
        <strong>BS</strong>
    </div>

    <ul class="components">
        <li class="menu-item">
            <a sidebar>
                <i class="fa fa-home"><span>Home</span></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a sidebar>Home 1</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">Home 4</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Home 5</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Home 6</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a sidebar>Home 2</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">Home 1</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Home 2</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#">
                <i class="fa fa-briefcase"><span>About</span></i>
            </a>
        </li>
        <li class="menu-item">
            <a sidebar>
                <i class="fa fa-copy"><span>Pages</span></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a sidebar>Home 1</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a sidebar>kill me</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="#">Home 1</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Home 2</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Home 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a sidebar>Home 1</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="#">Home 4</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Home 5</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Home 6</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#"><i class="fa fa-address-card"><span>Portfolio</span></i></a>
        </li>
        <li class="menu-item">
            <a href="#"><i class="fa fa-paper-plane"><span>Contact</span></i></a>
        </li>

        <li class="menu-item">
            <a sidebar>
                <i class="fa fa-copy"><span>Pages</span></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a sidebar>
                <i class="fa fa-copy"><span>Pages</span></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a sidebar>
                <i class="fa fa-copy"><span>Pages</span></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
    </ul>

</nav>